.ui-selecting td { 
    background: gold; 
}
.ui-selected td { 
    background: gold; 
}

table {
    margin: 50px;
}

td {
    padding: 10px;
    background: yellowgreen;
    border: 1px solid black;
}

.ui-selectable-helper {
    position: absolute;
    z-index: 100;
    border: 1px solid #CCC;
    background: rgba(200, 200, 200, .5);
}